<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven />
    <mvc:default-servlet-handler/>
    <context:annotation-config/>

    <context:component-scan base-package="com.yangmz.app.base" />
    <context:component-scan base-package="com.yangmz.app.model" />
    <context:component-scan base-package="com.yangmz.app.dao" />
    <context:component-scan base-package="com.yangmz.app.controller" />
    <bean id="emailProperty" class="com.yangmz.base.property.EmailProperty">
        <constructor-arg value="/conf/email.properties"/>
    </bean>

    <bean id="emailServer" class="com.yangmz.base.service.EmailService">
        <constructor-arg ref="emailProperty"/>
    </bean>

    <bean id="mybatisClient" class="com.yangmz.base.client.MybatisClient">
        <constructor-arg value="/conf/mybatis-config.xml"/>
    </bean>

    <bean id="imageDao" class="com.yangmz.base.dao.ImageDao">
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/classes/view/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/uploadArticle/image"/>
            <mvc:mapping path="/uploadArticle/text"/>
            <mvc:mapping path="/uploadArticle/comment"/>
            <mvc:mapping path="/uploadArticle/like"/>
            <mvc:mapping path="/getArticle/like/*"/>
            <!--<mvc:mapping path="/read-header"/>-->
            <bean class="com.yangmz.app.interceptor.AuthUser">
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>